<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title class="text-white">Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="new-background-color">
  <form #registrationForm = "ngForm" class="new-background-color">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Email {{registration.email}}<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="email" [(ngModel)] = "registration.email" name="email"></ion-input>
      </ion-item>
      <ion-item class="new-background-color"> 
        <ion-label position="stacked" class="text-white">Username<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Confirm Password<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="password"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Firstname<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Middlename<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white" >Lastname<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>
      <ion-item class="new-background-color">
        <ion-label position="stacked" class="text-white">Birthday<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="date"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button expand="block" type="submit" (click)="saveUser()" class="ion-no-margin">Create account</ion-button>
    </div>
  </form>
</ion-content>
